# DW Dreamweaver added files start
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno
deploy.php
# DW Dreamweaver added files end
# Add php files used elsewhere
rates.php
ajax.php
